.company__slogans{
    background: $color--black;
    @include flex(space-around);
    text-align: center;
    padding-bottom: 2em;
}
.slogan__conteiner{
    padding: 20px;
}
.slogan__title{
    color:$color--white;
    padding-bottom: 0.5em;
    @include font__size-letter__space-line__height-text__aline(32px,1px,36px,center);
    font-weight: 700;
}
.slogan__description{
    color:$color--white;
    @include font__size-letter__space-line__height-text__aline(15px,1px,23px,center);
    height: 5vh;
    padding: 20px;
}
.about{
   @include flex(space-around);
    width: 100%;
    padding: 50px 0;
    color:$color--black;
    background:$color-grey;
    
}
.about__title{
    padding-bottom: 1.5em;
    @include font__size-letter__space-line__height-text__aline(20px, 1px,30px,center); 
}
.about__items{
    list-style-type: none;
}
.about__content{
    text-decoration: none;
    @include font__size-letter__space-line__height-text__aline(13px, 1px,21px,center);        
    font-weight: 400;
    color:$color--black;
    
}
.about__adress {
    flex-basis: 30%;
}
.adress__description{
    @include font__size-letter__space-line__height-text__aline(14px, 1px,21px,start);
&:nth-of-type(2){
    padding-top: 1em;
}
}

.footer{
    padding: 10px 30px;
    @include font__size-letter__space-line__height-text__aline(13px, 1px,19px,center);
    
}
.footer__link{
    text-decoration: none;
    color: $color-orange;

}