.header__option{
    @include font__size-letter__space-line__height-text__aline(12px, 2px,15px,center);
    background: $color--black;
    color:$color--white;
    padding: 0.5em 0;
}
.navbar{
    @include flex(space-between);
    padding: 1em 1em;
}
.navbar__menu{
    display: flex;
}
.navbar__item{
    list-style-type: none;
    padding: 0 1em;
}
.navbar__content{
    @include font__size-letter__space-line__height-text__aline(14px, 1px,21px,start);
    text-decoration: none;
    color:$color--black;
    text-transform: uppercase;
}
.navigat__btn{
    display: none;
}
.navbar__links{
   text-decoration: none; 
}
.header__content{
    background: url('@img/Rectangle.png')no-repeat 0 0/cover;
    width: 100%;
    height:51em;
}
.header__title{
    @include font__size-letter__space-line__height-text__aline(44px, 1px,50.63px,center);
    padding-top: 1.7em;
    font-weight: 400;
}
.header__description{
    @include font__size-letter__space-line__height-text__aline(15px, 1px,18.75px,center);
    padding-top: 1em;
}
.header__btn{
    text-align: center;
    padding-top: 70px;
}
.btn{
    text-align:center;
    padding-top:2em;
}
.btn__links{
    @include font__size-letter__space-line__height-text__aline(15px, 1px,22.5px,start);
    text-decoration: none;
    font-weight: 700;
    color:$color--white;
    background-color:$color-orange;
    border-radius: 50px;
    cursor: pointer;
    &:nth-child(1){
        padding: 20px 30px;
        margin-right: 1em;
    }
    &:nth-child(2){
        padding: 20px 20px;
    }
}
.header__clients{
   @include flex(space-between);
    padding: 20px 20px 30px;
    background:$color--black;
}