.galary{
    @include flex(center);
}
.galary__conteiner{
    flex-basis: 33%;
    position: relative;
    @include flex(center);
    flex-direction: column;
}
.galary__img{
    width: 100%;
}
.galary__description{
    position: absolute;
    color:$color--white;
    @include font__size-letter__space-line__height-text__aline(25px,1px,30px,center);
}
.galary__links{
    text-decoration: none;
    color:$color--white;
    @include font__size-letter__space-line__height-text__aline(18px,1px,24px,center);
  
} 
