.accessories{
    @include flex(center);
    flex-direction: column;
    padding:20px 0 40px;
    &__title{
        @include font__size-letter__space-line__height-text__aline(32px, 1ps,36px,center);
        text-transform: uppercase;
    }
}
.galary-accessories{
    width:100%;
    padding-top: 2em;
    @include flex(space-around);
    text-align: center;
}
#accessories__img{
  @include flex(center);
  flex-direction: column;
}
.galary-accessories__name{
    padding-top: 1em;
    line-height: 18px;
    color:$color-orange;
}
.slick-next,.slick-prev{
    visibility: hidden;
}
.new-price{
    color:$color-orange;
    font-size: 15px;
    }
.sold{
    color:$color--black;
    opacity: 0.3;
    font-size: 15px;
}

