.skat {
    height: 46em;
    background: url("@img/Electric Skateboards.png") no-repeat top/cover;
    text-align: center;
}
.skat__description{
    @include font__size-letter__space-line__height-text__aline(20px,1px,20px,center);
    padding-top: 3em;
    &:nth-of-type(2){
            padding:20px 0;
            max-width: 520px;
            width: 100%;
            margin: 0 auto;
    }
}
.skat__title{
    @include font__size-letter__space-line__height-text__aline(45px,1px,51px,center);
    font-weight: 700;
    padding-top: 0.5em;
}